* {
    font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.wall {
    height: 100vh;
    background: linear-gradient(#009688 0%, #009688 15%, #d5dbd8 15%, #d5dbd8 100%);
}

div.container {
    height: 100vh;
}



/* Shared classes between right and left side */
section.top-bar {
    background-color: #eaeaea;
    height: 70px;
    width: 100%;
}



/* Left side */
section.left-side {
    background-color: white;
    width: 40%;
    height: 100%;
}



/* User details */
section.user-details {
    border-right: 1px solid #b1b1b1;
    display: flex;
}

section.user-details .profile-picture {
    width: 57px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
}



/* Notification banner */
section.notification-banner {
    background-color: #8edafc;
    width: 100%;
    height: 80px;
}



/* Contact list */
section.contacts-list {
    overflow-y: scroll;
    height: calc(100% - 80px - 70px - 50px);
}



/* Contact style */
section.search-contacts {
    background-color: white;
    width: 100%;
    height: 50px;
    border: 8px solid #fafafa;
}

div.contact {
    background-color: white;
    height: 80px;
    padding: .5rem;
    font-size: .8rem;
    display: flex;
}

div.contact:hover {
    cursor: pointer;
}

div.contact.selected{
    background-color: #e9ebeb;
}

div.contact .profile-picture {
    width: 57px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
}

div.contact-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

div.contact .profile-picture img,
section.user-details .profile-picture img {
    width: 100%;
}

div.contact .contact-info {
    padding: .5rem;
}

div.contact-info h2 {
    font-size: 1rem;
}

div.contact-info p,
div.hour {
    color: #cfc5c0;
}



/* Right Side */
section.right-side {
    background-image: url("img/mine.jpg");
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* Chat section */
section.chat {
    padding: 0 3rem;
    height: calc(100% - 140px);
    overflow-y: scroll;
}

.message {
    padding: .8rem 1rem;
    margin: .8rem 0;
    border-radius: 10px;
    clear: both;
}

.message-sent {
    background-color: #d5f9ba;
    float: right;
}

.message-received {
    background-color: white;
    float: left;
}



/* Input chat */
section.input-chat {
    background-color: #f3eeea;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input.user-text-input {
    width: 100%;
    height: 75%;
    border: white;
    border-radius: 5px;
    padding: 0 1rem;
}

section.input-chat i {
    color: #6b7376;
    font-size: 1.5rem;
    padding: 0 2.5rem;
}